html, body {
    margin: 0;
    padding: 0;
    height:100%;
    overflow-x:hidden;
}
.position-relative {
    position:relative;
}
.display-none { display:none;}

.loading-gif { background:url('siteImages/AjaxLoader.gif'); height:32px; width:32px; }
.absolute { position:absolute; }
.gif-position { left:50%; top:40%;}
.overlay {
    background: #e9e9e9;  
    display: none;
    position: fixed;   
    top: 0;                  
    right: 0;                
    bottom: 0;
	z-index: 999999;
    left: 0;
    opacity: 0.7;
}


.logo-image {
    background: url('../images/logo-renewable.png') no-repeat; 
    display: block; 
    float:left;
    width: 20px;
    padding-top: 12px;
}

.login-page p{
    width:auto;
    max-width:none;
}

.login-page > form ol {
    list-style:none;
}
.logo-image-container {
    padding-left:30px;
    width:100%;
}


a.logo-text {
    text-decoration: none;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
    color: #555;
    font-size: 16px;
    font-family: Verdana, Geneva, sans-serif;
}

.header-name {
    float: right;
    margin-top: 20px;
    display:none;
}

.header-name ul {
    list-style:none;
}
.header-name li{
    display:inline;
    margin-left:20px;
}
.header {
    height:80px;
    padding:10px 0px;
}

.nav-bar { background-color:#00ae73; }
.nav-bar a{ color:white; }

/* custom bootstrap*/

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.navbar-nav .open .dropdown-menu {
    background-color: #fff;
    color:black;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    max-height:400px;
    height: auto;
}

#search {
    display: block;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 74px;
}
.main-content { padding-top:50px;}
.footer-top { height:90px; background-color:#106d4e;}

.footer-content { background-color:#00251d; padding:40px 10px; }
.footer-left-details ul { text-align:center; color:#666023; list-style-type: none; padding:0; margin:0; }
.footer-left-details ul > li > a { color:#c7c076; text-decoration:none; }
.footer-left-details ul > li { padding:3px 0; word-break:keep-all;}
.footer-left-details ul > li > a:hover { color:#ffff90; }
.footer-right-details h2 { color:#d8d8d8; padding:0; margin:0; }
.footer-right-details address,p { color:#018659; max-width:200px; margin:0 auto; }
.footer-right-details { text-align:center;}
.navbar-default .navbar-nav > li > a { color:white; }
.navbar { margin-bottom:0px; }
/*.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #066d00;
}
*/


/*Login Form*/
.login-page {
  width: 600px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page > .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-page > .form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.input_checkbox {
    width:20px !important;
}


.login-page > .form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login-page > .form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.login-page > .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login-page > .form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.login-page > .form .register-form {
  display: none;
}

.footer-right-details > div{ padding-top:50px; }

div.esriPopupWrapper .zoomTo {
  display: none;
}
.esriPopup .titleButton.maximize {  
     display: none;  
}

.btn-edit-municipalities {
    position:absolute;
    right:20px;
    bottom:20px;
}

.btn-select-municipalities {
    position:absolute;
    top:20px;
    right:20px;
    width:200px;
}

.instructions {
    position:absolute;
    top:70px;
    right:20px;
    width:300px;
}

#btn-municipality-save {
    position:absolute;
    top:20px;
    right:235px;
    width:150px;
    display:none;
}

#btn-togglelorries {
    position:absolute;
    top:20px;
    left:380px;
    width:150px;
    display:block;
}

#btn-addlorries {
    position:absolute;
    top:20px;
    left:550px;
    width:150px;
    display:block;
}

#btn-viewroutes {
    position:absolute;
    top:20px;
    left:720px;
    width:150px;
    display:block;
}

#btn-addroute {
    position:absolute;
    top:20px;
    left:890px;
    width:150px;
    display:block;
}

.tooltip {  
  opacity: 1;  
}

/*everything above this is for small screens*/
/*for screens larger than 991px*/
@media (min-width: 991px) {
    .footer-right-details {}
    .footer-right-details > div{
        padding-top:0px;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    #viewDiv { 
        height:600px;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .logo-image-container {
        width:66.66666667%;
    }
    .logo-image-container {
        padding-left: 50px;
    }
    .logo-image {
        width: 45px;
        padding-top: 0px;
    }
    .header-name {
        display:block;
    }


}